.button {
  border-color: var(--border-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
  color: var(--main-color);
  background-color: transparent;
}

.buttonContent {
  display: flex;
  flex-direction: row;
}
