.root {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  border-left: 2px solid var(--border-color);
  position: static;
}

.main {
  width: 80%;
  border-left: 2px solid var(--border-color);
  background-color: var(--background-color);
}

.topControls {
  height: 10vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchContainer {
  margin-right: 5%;
}

.leftTopControls {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 10vw;
}

.mainArea {
}

.bellContainer {
  cursor: pointer;
}

.messageIconContainer {
  cursor: pointer;
}

.userPlusContainer {
  cursor: pointer;
}
