h1 {
  color: var(--main-color);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
}

.form {
  background-color: white;
  height: 80vh;
  width: 674px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: var(--second-color);
  border-style: solid;
  border-width: 1px;
  margin-right: 10%;
}

.formContent {
  display: flex;
  flex-direction: column;
  margin: 15%;
}

.community {
  display: flex;
  flex-direction: row;
}

.regularSign {
  display: flex;
}
