h1 {
  color: var(--main-color);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
}

.form {
  background-color: white;
  height: 80vh;
  border-radius: 25px;
}

.community {
  display: flex;
  flex-direction: row;
}

.regularSign {
  display: flex;
}
