.root {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.rightSide {
  width: 60%;
  padding: 0 5%;
  overflow-y: auto;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: white;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.chartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: var(--box-shadow);
  background-color: white;
  border-radius: 20px;
}

.departments {
  width: 100%;
  display: grid;
  grid-gap: 5%;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 370px);
  margin-top: 5%;
}

.subscribers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  transform: translateY(-5%);
}

.createMissionBtnContainer {
  height: 5vh;
  width: 170px;
  align-self: flex-end;
  margin-left: 5%;
}
