.root {
  display: flex;
  flex-direction: column;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--background-color);
  border-style: 1px solid var(--border-color);
  border-radius: 20px;
  margin-bottom: 20px; /*todo: erez fix this */
}

.departments {
  overflow-y: auto;
  width: 100%;
  display: grid;
  grid-gap: 5%;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 300px);
}
